<html>
	<head>
		<title>SisICA</title>
		<style>
			* {
				font-family:'Roboto', sans-serif; 
				font-size: 14px; 
				letter-spacing: .005em; 
				font-weight: 400;
				font-color: black;
			}
		</style>
	</head>
	<body>
		<div width="100%" style="background-color: rgb(33,150,243); height: 50px;">
			<p style="padding: 10px; font-size: 20px; color: #FFFFFF;">SisICA</p>
		</div>
		<div style="padding: 20px;">
			<p>Ol&aacute;, ${nome}!</p>
			<p>A sua inscrição no evento <b>${evento}</b> foi realizada com sucesso.</p>
			<p>Número da inscrição: <b>${idInscricao}</b></p>
		</div>
		<div style="padding: 10px; font-size: 12px; font-color: #999999; border-top: thick double #999999; border-width: 1px;">
			<b>SisICA</b> - Sistema de Inscrição em Conferências e Afins
		</div>
	</body>
</html>