<md-content md-dynamic-height layout-margin>
	<md-card>
		<md-card-header>
          <md-card-avatar>
            <md-icon class="material-icons icon-red600-bg">lock</md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Ops!</span>
            <span class="md-subhead">Acesso Negado</span>
          </md-card-header-text>
        </md-card-header>

        <md-card-content>
          <p>
            Você não tem privilégios suficientes para acessar essa página.
          </p>
        </md-card-content>
      </md-card>
</md-content>