<md-subheader class="md-primary md-whiteframe-z1">Bem-vindo</md-subheader>
<md-content md-dynamic-height md-border-bottom layout-margin ng-cloak>
	<p>Olá desenvolvedor, bem-vindo ao <b>SisICA</b> - Sistema de Inscrições em Conferências e Afins.</p>
	<ul>
		<li>Para criação de Conferências e Eventos, clique em <b>Administração</b> (área restrita)</li>
		<li>Para realizar a inscrição em um evento, clique em <b>Inscrever-se</b> (área pública)</li>
	</ul> 
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  
	<h3>Links úteis para Devs</h3>
	<ul>
		<li>Spring Boot Docs + Tutoriais: <a href="https://spring.io/docs" target="_blank">https://spring.io/docs</a></li>
		<li>AngularJS Docs: <a href="https://docs.angularjs.org/api" target="_blank">https://docs.angularjs.org/api</a></li>
		<li>Angular Material (Componentes de UI): <a href="https://material.angularjs.org/latest/" target="_blank">https://material.angularjs.org/latest/</a></li>
		<li>Biblioteca de ícones: <a href="https://material.io/icons/" target="_blank">https://material.io/icons/</a></li>
		<li>SmtpListener (envio e recebimento de e-mails em localhost): <a href="https://github.com/amoraes/smtplistener" target="_blank">https://github.com/amoraes/smtplistener</a>
		<li>Central de Acessos (Servidor de Desenvolvimento): <a href="https://centraldev.unesp.br" target="_blank">https://centraldev.unesp.br</a>
		<li>Central de Acessos (Documentação da API): <a href="https://centraldev.unesp.br/central-services/docs/" target="_blank">https://centraldev.unesp.br/central-services/docs/</a>
	</ul>
</md-content>
